.box {
  /* max-height: 30px;
  max-width: 30px; */
  border: solid 1px;
  flex: 1;
}

.row {
  display: flex;
  flex: 1;
}

.container {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 500px;
}

html, body {
  height: 100%;
}

.covered {
  background-color: red;
}