.box {
  /* max-height: 30px;
  max-width: 30px; */
  /*border: solid 1px; */
  flex: 1;
}

.row {
  display: flex;
  flex: 1;
}

.container {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 500px;
  border: solid 1px;
  background-color: white;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #DC4B4B;
}

.covered {
  background-color: #DC4B4B;
}

button {
  margin: 0px 0px 10px;
  border-radius: 2px;
  border: black solid 1px;
  background-color: white;
  color: black;
  padding: 5px 20px;

}

h1 {
  color: gold;
  font-family: "Comic Sans MS", "Comic Sans", sans-serif;
}